dash==1.9.1
dash-core-components==1.8.1
dash-html-components==1.0.2
dash-renderer==1.2.4
dash-table==4.6.1
Flask==1.1.1
Flask-Compress==1.4.0
Jinja2==2.11.1
numpy==1.18.2
pandas==1.0.3
plotly==4.5.4
PyPDF2==1.26.0
python-apt==1.6.1
python-dateutil==2.7.5
python-debian==0.1.32
requests==2.18.4
seaborn==0.10.0
tabula-py==2.1.0
tika==1.23.1
wget==3.2
